<!DOCTYPE html>
<html>
<head>
	<title>Training Site</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Spirax" rel="stylesheet">
</head>
<body>
	<h1>Training Site</h1>
	<div class="login">
	<h3>Login as a Trainer</h3>
	<form action="/trainer/login" method="post">
		<p> Email : </p>   <input type="email" name="trainer_username">
		<p> Password : </p>    <input type="password" name="trainer_password">
		<button type="submit">Login</button>
	</form>
	Don't have an account? <a href="/trainers/registration">Click here to register</a>
	</div>
	<div class="login">
	<h3>Login as a Client</h3>
	<form action="/client/login" method="post">
	<p> Email : </p>    <input type="email" name="client_username">
	<p> Password : </p>    <input type="password" name="client_password">
		<button type="submit">Login</button>
	</form>
	Don't have an account? <a href="/client/registration">Click here to register</a>
	</div>

	
</body>
</html>