* {
	font-family: 'Spirax', cursive;
}

body
{
	padding-left: 20px;
	background-color: gold; 
}



.registration
{
	background-color: orange;
	display: inline-block;
	width: 500px;
	padding: 20px;
	margin-top: 50px;
	margin-right: 20px;
	border-radius: 5%;
	box-shadow: 3px 3px 3px black;
}

.registration input
{

	width: 200px;
	margin-left: 50px;
	margin-bottom: 20px;
	font-family: sans-serif;

}

.registration p
{
	display: inline-block;
	margin-left: 50px;
	width: 150px;
}


.registration button 
{
	background-color: darkorange;
	font-size: 15px;
	display: block;
	border-radius: 0%;
	width: 150px;
	height: 30px;
	box-shadow: 1px 1px 2px black;
	margin-left: 310px;
	margin-bottom: 20px;
}

#label1
{
	width: 300px;
}

.messages
{
	margin-left: 50px;
	color: red;
}

